  {% extends 'adminlte/base.html' %}
  <meta charset="UTF-8">
  {% block title %}Inicio{% endblock %}
  {% block content %}
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% load bootstrap3 %}
  {% load i18n %}
  {% if request.user.is_authenticated %}
                <h1>Bienvenido {% firstof request.user.get_short_name request.user.get_username %}</h1>
                {% else %}
                <h1>Bienvenido de nuevo</h1>
                <h2>USS</h2>
                {% endif %}
{% endblock %}  