{% extends 'adminlte/base.html' %}
	{% block title %}Detalle del Producto{% endblock %}
	{% block content %}
	{% load bootstrap3 %}
	{% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	<h2>ID: {{ producto.id }}</h2>
	<h1>Medida/Diametro: {{ producto.Medida_Diametro }}</h1>
	<h2>Arnazon: {{ producto.Armazon }}</h2>
	<h3>Tela: {{ producto.Tela }}</h3>
	<h4>Precio: ${{ producto.Precio }}</h4>
	{% buttons %}
		<a href="{% url "productos:edit" producto.id %}">
			<button type="submit" class="ui-button">{% bootstrap_icon "pencil" %}Editar</button>
		 </a>
		<a href="{% url "productos:list" %}">
			<button type="submit" class="ui-button">{% bootstrap_icon "arrow-left" %}Regresar</button>
		 </a>
        {% endbuttons %}

{% endblock %}


2017-03-17 15:06